


img {
  vertical-align: middle; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 0px; }

.img-thumbnail {
  padding: 4px;
  line-height: 1.5625;
  background-color: #FFFFFF;
  border: 1px solid #ddd;
  border-radius: 0px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto; }

.img-circle {
  border-radius: 50%; }

hr {
  margin-top: 23px;
  margin-bottom: 23px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3); }



ul,
ol {
  margin-top: 0;
  margin-bottom: 11.5px; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-bottom: 0; }

.list-unstyled {
  padding-left: 0;
  list-style: none; }

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px; }
  .list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px; }



code,
kbd,
pre,
samp {
  font-family: "Consolas", "Menlo", "Monaco", "Courier New", monospace; }

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #000000;
  background-color: #F2F2F2;
  border-radius: 0px; }

kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #FFFFFF;
  background-color: #333;
  border-radius: 0px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25); }
  kbd kbd {
    padding: 0;
    font-size: 100%;
    font-weight: bold;
    box-shadow: none; }

pre {
  display: block;
  padding: 11px;
  margin: 0 0 11.5px;
  font-size: 14px;
  line-height: 1.5625;
  word-break: break-all;
  word-wrap: break-word;
  color: #000000;
  background-color: #F2F2F2;
  border: 1px solid #E5E5E5;
  border-radius: 0px; }
  pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0; }

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll; }


.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #FFFFFF;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em; }
  .label:empty {
    display: none; }
  .btn .label {
    position: relative;
    top: -1px; }

a.label:hover, a.label:focus {
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer; }

.label-default {
  background-color: rgba(0, 0, 0, 0.2); }
  .label-default[href]:hover, .label-default[href]:focus {
    background-color: rgba(0, 0, 0, 0.2); }

.label-primary {
  background-color: #000000; }
  .label-primary[href]:hover, .label-primary[href]:focus {
    background-color: black; }

.label-success {
  background-color: rgba(0, 0, 0, 0.6); }
  .label-success[href]:hover, .label-success[href]:focus {
    background-color: rgba(0, 0, 0, 0.6); }

.label-info {
  background-color: rgba(0, 0, 0, 0.6); }
  .label-info[href]:hover, .label-info[href]:focus {
    background-color: rgba(0, 0, 0, 0.6); }

.label-warning {
  background-color: #D02E00; }
  .label-warning[href]:hover, .label-warning[href]:focus {
    background-color: #9d2300; }

.label-danger {
  background-color: #D02E00; }
  .label-danger[href]:hover, .label-danger[href]:focus {
    background-color: #9d2300; }



.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }



.glyph {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  overflow: hidden; }
  .glyph:before {
    display: block;
    width: 1em;
    height: 1em;
    font-family: "winjs-symbols";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.glyph-chevron-up::before {
  content: ""; }

.glyph-chevron-down::before {
  content: ""; }

.glyph-checkmark::before {
  content: ""; }

.glyph-star::before {
  content: ""; }

.glyph-magnifier::before {
  content: ""; }

.glyph-semantic-zoom::before {
  content: ""; }

.glyph-arrow-left::before {
  content: ""; }

.glyph-arrow-right::before {
  content: ""; }

.glyph-chevron-left::before {
  content: ""; }

.glyph-chevron-right::before {
  content: ""; }

.glyph-chevron-up-2::before {
  content: ""; }

.glyph-chevron-down-2::before {
  content: ""; }

.glyph-checkmark-2::before {
  content: ""; }

.glyph-star-outline::before {
  content: ""; }

.glyph-chevron-right-2::before {
  content: ""; }

.glyph-chevron-left-2::before {
  content: ""; }

.glyph-previous::before {
  content: ""; }

.glyph-next::before {
  content: ""; }

.glyph-play::before {
  content: ""; }

.glyph-pause::before {
  content: ""; }

.glyph-edit::before {
  content: ""; }

.glyph-edit-mirrored::before {
  content: ""; }

.glyph-save::before {
  content: ""; }

.glyph-clear::before {
  content: ""; }

.glyph-delete::before {
  content: ""; }

.glyph-remove::before {
  content: ""; }

.glyph-add::before {
  content: ""; }

.glyph-cancel::before {
  content: ""; }

.glyph-accept::before {
  content: ""; }

.glyph-more::before {
  content: ""; }

.glyph-redo::before {
  content: ""; }

.glyph-undo::before {
  content: ""; }

.glyph-home::before {
  content: ""; }

.glyph-up::before {
  content: ""; }

.glyph-forward::before {
  content: ""; }

.glyph-back::before {
  content: ""; }

.glyph-favorite::before {
  content: ""; }

.glyph-camera::before {
  content: ""; }

.glyph-settings::before {
  content: ""; }

.glyph-video::before {
  content: ""; }

.glyph-sync::before {
  content: ""; }

.glyph-download::before {
  content: ""; }

.glyph-mail::before {
  content: ""; }

.glyph-magnifier-2::before {
  content: ""; }

.glyph-help::before {
  content: ""; }

.glyph-help-mirrored::before {
  content: ""; }

.glyph-upload::before {
  content: ""; }

.glyph-emoji::before {
  content: ""; }

.glyph-two-page::before {
  content: ""; }

.glyph-leave-chat::before {
  content: ""; }

.glyph-mail-forward::before {
  content: ""; }

.glyph-clock::before {
  content: ""; }

.glyph-send::before {
  content: ""; }

.glyph-crop::before {
  content: ""; }

.glyph-rotate-camera::before {
  content: ""; }

.glyph-people::before {
  content: ""; }

.glyph-close-pane::before {
  content: ""; }

.glyph-close-pane-mirrored::before {
  content: ""; }

.glyph-open-pane::before {
  content: ""; }

.glyph-open-pane-mirrored::before {
  content: ""; }

.glyph-world::before {
  content: ""; }

.glyph-flag::before {
  content: ""; }

.glyph-preview-link::before {
  content: ""; }

.glyph-globe::before {
  content: ""; }

.glyph-trim::before {
  content: ""; }

.glyph-attach-camera::before {
  content: ""; }

.glyph-zoom-in::before {
  content: ""; }

.glyph-bookmarks::before {
  content: ""; }

.glyph-bookmarks-mirrored::before {
  content: ""; }

.glyph-document::before {
  content: ""; }

.glyph-protected-document::before {
  content: ""; }

.glyph-page::before {
  content: ""; }

.glyph-multi-select::before {
  content: ""; }

.glyph-multi-select-mirrored::before {
  content: ""; }

.glyph-comment::before {
  content: ""; }

.glyph-mail-2::before {
  content: ""; }

.glyph-contact-info::before {
  content: ""; }

.glyph-contact-info-mirrored::before {
  content: ""; }

.glyph-hang-up::before {
  content: ""; }

.glyph-view-all::before {
  content: ""; }

.glyph-map-pin::before {
  content: ""; }

.glyph-phone::before {
  content: ""; }

.glyph-video-chat::before {
  content: ""; }

.glyph-switch::before {
  content: ""; }

.glyph-contact::before {
  content: ""; }

.glyph-rename::before {
  content: ""; }

.glyph-pin::before {
  content: ""; }

.glyph-music-info::before {
  content: ""; }

.glyph-go::before {
  content: ""; }

.glyph-go-mirrored::before {
  content: ""; }

.glyph-keyboard::before {
  content: ""; }

.glyph-dock-left::before {
  content: ""; }

.glyph-dock-left-mirrored::before {
  content: ""; }

.glyph-dock-right::before {
  content: ""; }

.glyph-dock-right-mirrored::before {
  content: ""; }

.glyph-dock-bottom::before {
  content: ""; }

.glyph-remote::before {
  content: ""; }

.glyph-refresh::before {
  content: ""; }

.glyph-rotate::before {
  content: ""; }

.glyph-shuffle::before {
  content: ""; }

.glyph-list::before {
  content: ""; }

.glyph-list-mirrored::before {
  content: ""; }

.glyph-shop::before {
  content: ""; }

.glyph-select-all::before {
  content: ""; }

.glyph-orientation::before {
  content: ""; }

.glyph-import::before {
  content: ""; }

.glyph-import-mirrored::before {
  content: ""; }

.glyph-import-all::before {
  content: ""; }

.glyph-import-all-mirrored::before {
  content: ""; }

.glyph-browse-photos::before {
  content: ""; }

.glyph-webcam::before {
  content: ""; }

.glyph-picture::before {
  content: ""; }

.glyph-save-local::before {
  content: ""; }

.glyph-caption::before {
  content: ""; }

.glyph-stop::before {
  content: ""; }

.glyph-show-results::before {
  content: ""; }

.glyph-show-results-mirrored::before {
  content: ""; }

.glyph-volume::before {
  content: ""; }

.glyph-repair::before {
  content: ""; }

.glyph-message::before {
  content: ""; }

.glyph-page-outline::before {
  content: ""; }

.glyph-calendar-day::before {
  content: ""; }

.glyph-calendar-week::before {
  content: ""; }

.glyph-calendar::before {
  content: ""; }

.glyph-calendar-mirrored::before {
  content: ""; }

.glyph-characters::before {
  content: ""; }

.glyph-mail-reply-all::before {
  content: ""; }

.glyph-mail-reply-all-mirrored::before {
  content: ""; }

.glyph-mail-read::before {
  content: ""; }

.glyph-link::before {
  content: ""; }

.glyph-accounts::before {
  content: ""; }

.glyph-show-bcc::before {
  content: ""; }

.glyph-hide-bcc::before {
  content: ""; }

.glyph-cut::before {
  content: ""; }

.glyph-attach::before {
  content: ""; }

.glyph-paste::before {
  content: ""; }

.glyph-filter::before {
  content: ""; }

.glyph-copy::before {
  content: ""; }

.glyph-emoji-2::before {
  content: ""; }

.glyph-important::before {
  content: ""; }

.glyph-mail-reply::before {
  content: ""; }

.glyph-mail-reply-mirrored::before {
  content: ""; }

.glyph-slideshow::before {
  content: ""; }

.glyph-sort::before {
  content: ""; }

.glyph-manage::before {
  content: ""; }

.glyph-all-apps::before {
  content: ""; }

.glyph-all-apps-mirrored::before {
  content: ""; }

.glyph-disconnect-drive::before {
  content: ""; }

.glyph-map-drive::before {
  content: ""; }

.glyph-new-window::before {
  content: ""; }

.glyph-open-with::before {
  content: ""; }

.glyph-open-with-mirrored::before {
  content: ""; }

.glyph-contact-presence::before {
  content: ""; }

.glyph-priority::before {
  content: ""; }

.glyph-upload-2::before {
  content: ""; }

.glyph-go-to-today::before {
  content: ""; }

.glyph-font::before {
  content: ""; }

.glyph-font-color::before {
  content: ""; }

.glyph-contact-2::before {
  content: ""; }

.glyph-folder-fill::before {
  content: ""; }

.glyph-audio::before {
  content: ""; }

.glyph-placeholder::before {
  content: ""; }

.glyph-view::before {
  content: ""; }

.glyph-set-lockscreen::before {
  content: ""; }

.glyph-set-tile::before {
  content: ""; }

.glyph-cc::before {
  content: ""; }

.glyph-stop-slideshow::before {
  content: ""; }

.glyph-permissions::before {
  content: ""; }

.glyph-highlight::before {
  content: ""; }

.glyph-disable-updates::before {
  content: ""; }

.glyph-unfavorite::before {
  content: ""; }

.glyph-unpin::before {
  content: ""; }

.glyph-open-local::before {
  content: ""; }

.glyph-mute::before {
  content: ""; }

.glyph-italic::before {
  content: ""; }

.glyph-underline::before {
  content: ""; }

.glyph-bold::before {
  content: ""; }

.glyph-move-to-folder::before {
  content: ""; }

.glyph-like-dislike::before {
  content: ""; }

.glyph-dislike::before {
  content: ""; }

.glyph-like::before {
  content: ""; }

.glyph-align-right::before {
  content: ""; }

.glyph-align-center::before {
  content: ""; }

.glyph-align-left::before {
  content: ""; }

.glyph-magnifier-3::before {
  content: ""; }

.glyph-zoom-out::before {
  content: ""; }

.glyph-open-file::before {
  content: ""; }

.glyph-other-user::before {
  content: ""; }

.glyph-admin::before {
  content: ""; }

.glyph-street::before {
  content: ""; }

.glyph-map::before {
  content: ""; }

.glyph-clear-selection::before {
  content: ""; }

.glyph-clear-selection-mirrored::before {
  content: ""; }

.glyph-font-decrease::before {
  content: ""; }

.glyph-font-increase::before {
  content: ""; }

.glyph-font-size::before {
  content: ""; }

.glyph-cellphone::before {
  content: ""; }

.glyph-reshare::before {
  content: ""; }

.glyph-tag::before {
  content: ""; }

.glyph-repeat-once::before {
  content: ""; }

.glyph-repeat-all::before {
  content: ""; }

.glyph-star-outline-2::before {
  content: ""; }

.glyph-star-2::before {
  content: ""; }

.glyph-calculator::before {
  content: ""; }

.glyph-directions::before {
  content: ""; }

.glyph-location::before {
  content: ""; }

.glyph-library::before {
  content: ""; }

.glyph-phonebook::before {
  content: ""; }

.glyph-memo::before {
  content: ""; }

.glyph-microphone::before {
  content: ""; }

.glyph-post-update::before {
  content: ""; }

.glyph-back-to-window::before {
  content: ""; }

.glyph-fullscreen::before {
  content: ""; }

.glyph-new-folder::before {
  content: ""; }

.glyph-calendar-reply::before {
  content: ""; }

.glyph-unsync-folder::before {
  content: ""; }

.glyph-report-hacked::before {
  content: ""; }

.glyph-sync-folder::before {
  content: ""; }

.glyph-block-contact::before {
  content: ""; }

.glyph-switch-apps::before {
  content: ""; }

.glyph-add-friend::before {
  content: ""; }

.glyph-touch-pointer::before {
  content: ""; }

.glyph-go-to-start::before {
  content: ""; }

.glyph-zero-bar::before {
  content: ""; }

.glyph-one-bar::before {
  content: ""; }

.glyph-two-bars::before {
  content: ""; }

.glyph-three-bars::before {
  content: ""; }

.glyph-four-bars::before {
  content: ""; }

.glyph-scan::before {
  content: ""; }

.glyph-preview::before {
  content: ""; }

.glyph-hamburger::before {
  content: ""; }

.glyph-checkbox-composite::before {
  content: ""; }

.glyph-checkbox-indeterminate::before {
  content: ""; }

.glyph-erase-tool::before {
  content: ""; }

.glyph-warning::before {
  content: ""; }

.glyph-shopping-cart::before {
  content: ""; }

.glyph-flag-2::before {
  content: ""; }

.glyph-folder-open::before {
  content: ""; }

.glyph-folder::before {
  content: ""; }

.glyph-completed::before {
  content: ""; }

.glyph-music-album::before {
  content: ""; }

.glyph-info::before {
  content: ""; }

.glyph-devices::before {
  content: ""; }

.glyph-expand::before {
  content: ""; }

.glyph-collapse::before {
  content: ""; }

.glyph-radio-btn-off::before {
  content: ""; }

.glyph-radio-btn-on::before {
  content: ""; }

.glyph-radio-bullet::before {
  content: ""; }

.glyph-media-browse::before {
  content: ""; }

.glyph-miracast-small::before {
  content: ""; }

.glyph-miracast-large::before {
  content: ""; }

.glyph-playback-rate-1x::before {
  content: ""; }

.glyph-playback-rate-other::before {
  content: ""; }

.glyph-subscription-add::before {
  content: ""; }

.glyph-subscription-add-mirrored::before {
  content: ""; }

.glyph-subscriptions::before {
  content: ""; }

.glyph-subscriptions-mirrored::before {
  content: ""; }

.glyph-folder-horizontal-open::before {
  content: ""; }

.glyph-folder-horizontal::before {
  content: ""; }



@font-face {
  font-family: "winjs-symbols";
  src: url("../../fonts/glyphs/winjs-symbols.eot");
  src: url("../../fonts/glyphs/winjs-symbols.eot#iefix") format("embedded-opentype"), url("../fonts/glyphs/winjs-symbols.ttf") format("truetype"); }

@font-face {
  font-family: "Selawik";
  src: url("../../fonts/selawk.eot");
  src: url("../fonts/selawk.eot#iefix") format("embedded-opentype"), url("../fonts/selawk.ttf") format("truetype"); }

@font-face {
  font-family: "Selawik Bold";
  src: url("../../fonts/selawkb.eot");
  src: url("../../fonts/selawkb.eot#iefix") format("embedded-opentype"), url("../fonts/selawkb.ttf") format("truetype"); }

@font-face {
  font-family: "Selawik Light";
  src: url("../../fonts/selawkl.eot");
  src: url("../../fonts/selawkl.eot#iefix") format("embedded-opentype"), url("../fonts/selawkl.ttf") format("truetype"); }

@font-face {
  font-family: "Selawik Semibold";
  src: url("../../fonts/selawksb.eot");
  src: url("../../fonts/selawksb.eot#iefix") format("embedded-opentype"), url("../fonts/selawksb.ttf") format("truetype"); }

@font-face {
  font-family: "Selawik Semilight";
  src: url("../../fonts/selawksl.eot");
  src: url("../../fonts/selawksl.eot#iefix") format("embedded-opentype"), url("../fonts/selawksl.ttf") format("truetype"); }







hr {
  margin-top: 36px;
  margin-bottom: 0; }
  @media (min-width: 540px) {
    hr {
      margin-top: 48px; } }
  hr, hr.theme-default {
    border-color: rgba(0, 0, 0, 0.2); }
  hr.theme-alt {
    border-color: rgba(255, 255, 255, 0.2); }
  hr.theme-light {
    border-color: #000000; }
  hr.theme-dark, hr.theme-on-color {
    border-color: #FFFFFF; }

ul li,
ol li,
dl dd,
dl dt {
  margin: 12px 0; }

﻿ ul {
  padding-left: 20px; }

ol {
  padding-left: 24px; }

.alert {
  position: relative;
  border: none;
  padding: 12px 12px 12px 20px;
  min-height: 48px;
  color: #000000; }
  .alert.alert-dismissible {
    padding-right: 48px; }
  .alert .alert-title {
    font-size: 18px;
    font-weight: 300;
    font-family: "Segoe UI Semilight", "Segoe UI", "Selawik Semilight", Tahoma, Verdana, Arial, sans-serif;
    letter-spacing: normal;
    line-height: 1.33333;
    margin-bottom: 5px;
    margin-top: 1px; }
  .alert p {
    font-size: 13px;
    font-weight: 400;
    font-family: "Segoe UI", "Selawik", Tahoma, Verdana, Arial, sans-serif;
    letter-spacing: normal;
    line-height: 1.23077;
    margin: 0;
    padding: 4px 0 0; }
  .alert .close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    line-height: 1;
    opacity: 1;
    height: 48px;
    width: 48px; }
    .alert .close span {
      font-size: 16px;
      top: -5px;
      position: relative; }
  .alert.with-glyph {
    padding-left: 48px; }
  .alert .alert-glyph {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 24px;
    height: 24px;
    font-size: 24px; }
  .alert.alert-info {
    background-color: #F2F2F2;
    color: #000000; }
  .alert.alert-warning {
    background-color: rgba(255, 241, 0, 0.4); }
  .alert.alert-danger {
    background-color: rgba(208, 46, 0, 0.3); }



.putbox {
  margin-top: 24px; }
  .putbox .putbox-icon {
    display: inline-block;
    margin-top: 32px;
    vertical-align: top; }
    .putbox .putbox-icon span {
      font-size: 24px;
      color: #0078D7; }
  .putbox .putbox-content {
    display: inline-block;
    margin-left: 8px;
    font-size: 15px;
    font-weight: 400;
    font-family: "Segoe UI", "Selawik", Tahoma, Verdana, Arial, sans-serif;
    letter-spacing: normal;
    line-height: 1.33333; }
    .putbox .putbox-content .content-form {
      margin-top: 8px; }
    .putbox .putbox-content .btn-link, .putbox .putbox-content .btn-lightweight {
      margin: 0px;
      padding-left: 0px;
      text-align: left; }
  .putbox.theme-alt .content-title {
    color: #FFFFFF; }



.labels-list {
  display: inline;
  list-style: none;
  margin: 0 1em 0 0;
  padding: 0; }
  .labels-list li {
    margin: 0 .25em; }

.label {
  font-weight: normal;
  font-family: "Segoe UI Bold", "Segoe UI", "Selawik Bold", Tahoma, Verdana, Arial, sans-serif;
  border-radius: 0; }




pre {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  border: none;
  border-left: 5px solid #E5E5E5;
  margin: 12px 0 0;
  font-size: 13px;
  font-weight: 400;
  font-family: "Segoe UI", "Selawik", Tahoma, Verdana, Arial, sans-serif;
  letter-spacing: normal; }




.back-to-top {
  visibility: hidden;
  width: 48px;
  height: 48px;
  padding: 10px 12px 12px;
  opacity: 0;
  -webkit-transform: translate(0, 24px);
  -ms-transform: translate(0, 24px);
  -o-transform: translate(0, 24px);
  transform: translate(0, 24px);
  -webkit-transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -o-transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s; }
  .back-to-top.affix {
    visibility: visible;
    opacity: 1;
    z-index: 1030;
    right: 24px;
    bottom: 12px;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  .back-to-top [class*="glyph-"] {
    font-size: 24px; }
    .back-to-top, .back-to-top:focus {
        color: rgba(0, 0, 0, 0.6);
        background: rgba(0, 0, 0, 0.1);
    }

        .back-to-top:hover {
            color: #000000;
            background: rgba(0, 0, 0, 0.3);
        }

        .back-to-top.theme-alt, .back-to-top.theme-alt:focus {
            color: rgba(255, 255, 255, 0.6);
            background: rgba(255, 255, 255, 0.1);
        }

            .back-to-top.theme-alt:hover {
                color: #FFFFFF;
                background: rgba(255, 255, 255, 0.3);
            }








#glyphs span[class*="glyph-"] {
  font-size: 2em; }

.color {
  height: 0;
  padding-bottom: 39px;
  margin: 12px 0 0; }

.line {
  border-width: 4px;
  border-style: solid;
  padding-bottom: 29px; }

code .tag {
  color: #008080; }
  code .tag .title {
    color: #800000; }

code .value, code .string {
  color: #0451A5; }

code .attribute {
  color: red; }

code .comment {
  color: #008000;
  font-style: italic; }

code .number {
  color: #09885A; }
