@import '';

/* /Shared/LoginLayout.razor.rz.scp.css */

/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-07g7jfs9u7] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-07g7jfs9u7] {
    flex: 1;
}

.sidebar[b-07g7jfs9u7] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-07g7jfs9u7] {
    background-color: #000000;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-07g7jfs9u7]  a, .top-row .btn-link[b-07g7jfs9u7] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-07g7jfs9u7] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-07g7jfs9u7] {
        display: none;
    }

    .top-row.auth[b-07g7jfs9u7] {
        justify-content: space-between;
    }

    .top-row a[b-07g7jfs9u7], .top-row .btn-link[b-07g7jfs9u7] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-07g7jfs9u7] {
        flex-direction: row;
    }

    .sidebar[b-07g7jfs9u7] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-07g7jfs9u7] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-07g7jfs9u7] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-234l2opi20] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-234l2opi20] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-234l2opi20] {
    font-size: 1.1rem;
}

.oi[b-234l2opi20] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-234l2opi20] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-234l2opi20] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-234l2opi20] {
        padding-bottom: 1rem;
    }

    .nav-item[b-234l2opi20]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-234l2opi20]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-234l2opi20]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-234l2opi20] {
        display: none;
    }

    .collapse[b-234l2opi20] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}


.list-items[b-234l2opi20] {
    padding-left: 0;
    list-style: none;
    margin: 1em 0;
}

    .list-items .row[b-234l2opi20] {
        padding: 10px;
    }

        .list-items .row .row[b-234l2opi20] {
            padding: 0;
        }

    .list-items .list-items-row[b-234l2opi20] {
        margin: 0;
        padding: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
    }

    .list-items [data-toggle="collapse"][b-234l2opi20] {
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        cursor: pointer;
    }

        .list-items [data-toggle="collapse"][aria-expanded="true"][b-234l2opi20], .list-items [data-toggle="collapse"]:hover[b-234l2opi20] {
            z-index: 1000;
            -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
            background-color: rgba(255, 255, 255, 0.32);
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            color: #61b405;
        }

    .list-items .glyph-chevron-right[b-234l2opi20],
    .list-items .glyph-chevron-down[b-234l2opi20] {
        font-size: .75em;
        height: 1.25em;
    }

    .list-items [aria-expanded="false"] .glyph-chevron-down[b-234l2opi20] {
        display: none;
    }

    .list-items [aria-expanded="true"] .glyph-chevron-right[b-234l2opi20] {
        display: none;
    }

    .list-items .collapse[b-234l2opi20],
    .list-items .collapsing[b-234l2opi20] {
        border-left: 1px solid rgba(0, 0, 0, 0.05);
        border-right: 1px solid rgba(0, 0, 0, 0.05);
    }

/* /Shared/Toast.razor.rz.scp.css */

.toast[b-mid3ka0je8] {
    top: 30px;
    right: 30px;
    max-width: 300px;
    border-radius: 0px;
    background: #FFFFFF;
    box-shadow: 0 25px 10px -15px rgba(0,0,0,0.05);
    display: none;
    padding: 1.5rem;
    color: #1A1A1A;
    z-index: 1;
    position: absolute;
}

.toast-icon[b-mid3ka0je8] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    font-size: 2.5rem;
}

.toast-body[b-mid3ka0je8] {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 1rem;
}

    .toast-body p[b-mid3ka0je8] {
        margin-bottom: 0;
    }

.toast-visible[b-mid3ka0je8] {
    display: flex;
    flex-direction: row;
    animation: fadein-b-mid3ka0je8 1.5s;
}

@keyframes fadein-b-mid3ka0je8 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
