@import '';

/* /Pages/CompositeProductList.razor.rz.scp.css */


.list-items[b-15zysnsj0w] {
    padding-left: 0;
    list-style: none;
    margin: 1em 0;
}

    .list-items .row[b-15zysnsj0w] {
        padding: 10px;
    }

        .list-items .row .row[b-15zysnsj0w] {
            padding: 0;
        }

    .list-items .list-items-row[b-15zysnsj0w] {
        margin: 0;
        padding: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
    }

    .list-items [data-toggle="collapse"][b-15zysnsj0w] {
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        cursor: pointer;
    }

        .list-items [data-toggle="collapse"][aria-expanded="true"][b-15zysnsj0w], .list-items [data-toggle="collapse"]:hover[b-15zysnsj0w] {
            z-index: 1000;
            -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
            background-color: rgba(255, 255, 255, 0.32);
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            color: #61b405;
        }

    .list-items .glyph-chevron-right[b-15zysnsj0w],
    .list-items .glyph-chevron-down[b-15zysnsj0w] {
        font-size: .75em;
        height: 1.25em;
    }

    .list-items [aria-expanded="false"] .glyph-chevron-down[b-15zysnsj0w] {
        display: none;
    }

    .list-items [aria-expanded="true"] .glyph-chevron-right[b-15zysnsj0w] {
        display: none;
    }

    .list-items .collapse[b-15zysnsj0w],
    .list-items .collapsing[b-15zysnsj0w] {
        border-left: 1px solid rgba(0, 0, 0, 0.05);
        border-right: 1px solid rgba(0, 0, 0, 0.05);
    }

.list-quick-links[b-15zysnsj0w] {
    padding-left: 0;
    list-style: none;
    margin-bottom: 2em;
}

    .list-quick-links li[b-15zysnsj0w] {
        font-size: 24px;
        font-weight: 300;
        font-family: "Segoe UI Semilight", "Segoe UI", "Selawik Semilight", Tahoma, Verdana, Arial, sans-serif;
        letter-spacing: normal;
        margin-bottom: 4px;
    }

    .list-quick-links a[b-15zysnsj0w] {
        display: block;
        padding: .5em .25em;
        background: rgba(0, 0, 0, 0.05);
        text-align: center;
    }

@media (min-width: 540px) {
    .list-quick-links a[b-15zysnsj0w] {
        display: inline-block;
        padding: 0;
        margin-bottom: 10px;
        background: none;
    }
}


.entity-list-item .item-icon[b-15zysnsj0w] {
    top: 0;
    width: 40px;
    height: 40px;
    background: #0b3480;
    z-index: 1000;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(254, 254, 254, 254, 0.32);
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
    color: #fff;
}

    .entity-list-item .item-icon:hover[b-15zysnsj0w] {
        background: #fff;
        z-index: 1000;
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
        background-color: rgba(254, 254, 254, 254, 0.32);
        color: #7caf50;
    }

.entity-list-item:hover[b-15zysnsj0w] {
    color: #0b3480;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
    z-index: 1000;
}

.entity-list .entity-list-item .item-content-primary .item-content-secondary[b-15zysnsj0w] {
    margin: 12px 12px 0 0px;
    font-size: 12px;
    font-weight: 400;
}

.entity-list .entity-list-item .content-text-primary[b-15zysnsj0w],
.entity-list .entity-list-item[b-15zysnsj0w] {
    font-size: 15px;
    font-weight: 800;
    font-family: "Segoe UI", "Selawik", Tahoma, Verdana, Arial, sans-serif;
    letter-spacing: normal;
    line-height: 1.33333;
}

.content-text-secondary[b-15zysnsj0w] {
    font-size: 7px;
    font-weight: 100;
    font-family: "Segoe UI", "Selawik", Tahoma, Verdana, Arial, sans-serif;
    letter-spacing: normal;
    line-height: 1.33333;
    color: white;
}

.content-text-tertiary[b-15zysnsj0w] {
    font-size: 10px;
    font-weight: 100;
    font-family: "Segoe UI", "Selawik", Tahoma, Verdana, Arial, sans-serif;
    letter-spacing: normal;
    line-height: 1.33333;
    color: 1A1A1A;
}


.add-product[b-15zysnsj0w] {
    visibility: hidden;
    width: 48px;
    height: 48px;
    padding: 10px 12px 12px;
    opacity: 0;
    -webkit-transform: translate(0, 24px);
    -ms-transform: translate(0, 24px);
    -o-transform: translate(0, 24px);
    transform: translate(0, 24px);
    -webkit-transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
    -o-transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
    background: rgba(5, 72, 180, 1.0);
    box-shadow: 0 9px 19px rgba(0,0,0,0.30), 0 7px 6px rgba(0,0,0,0.22);
    color: #fff;
}

    .add-product.affix[b-15zysnsj0w] {
        visibility: visible;
        opacity: 1;
        z-index: 1030;
        left: 24px;
        top: 120px;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .add-product [class*="glyph-"][b-15zysnsj0w] {
        font-size: 24px;
    }

    .add-product[b-15zysnsj0w], .add-product:focus[b-15zysnsj0w] {
        color: rgba(0, 0, 0, 0.6);
        background: rgba(0, 0, 0, 0.1);
    }

        .add-product:hover[b-15zysnsj0w] {
            color: rgba(5, 72, 180, 1.0);
            background: rgba(255, 255, 255, 0.3);
        }

        .add-product.theme-alt[b-15zysnsj0w], .add-product.theme-alt:focus[b-15zysnsj0w] {
            color: rgba(255, 255, 255, 0.6);
            background: rgba(255, 255, 255, 0.1);
        }

            .add-product.theme-alt:hover[b-15zysnsj0w] {
                color: #FFFFFF;
                background: rgba(255, 255, 255, 0.3);
            }

.hidden[b-15zysnsj0w] {
    display: none !important;
}


.jeshiBlue[b-15zysnsj0w] {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background: rgba(5, 72, 180, 0.66);
    color: #fff;
}
/* /Pages/FootballData.razor.rz.scp.css */


.list-items[b-up52ejewsf] {
    padding-left: 0;
    list-style: none;
    margin: 1em 0;
}

    .list-items .row[b-up52ejewsf] {
        padding: 10px;
    }

        .list-items .row .row[b-up52ejewsf] {
            padding: 0;
        }

    .list-items .list-items-row[b-up52ejewsf] {
        margin: 0;
        padding: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
    }

    .list-items [data-toggle="collapse"][b-up52ejewsf] {
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        cursor: pointer;
    }

        .list-items [data-toggle="collapse"][aria-expanded="true"][b-up52ejewsf], .list-items [data-toggle="collapse"]:hover[b-up52ejewsf] {
            z-index: 1000;
            -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
            background-color: rgba(255, 255, 255, 0.32);
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            color: #61b405;
        }

    .list-items .glyph-chevron-right[b-up52ejewsf],
    .list-items .glyph-chevron-down[b-up52ejewsf] {
        font-size: .75em;
        height: 1.25em;
    }

    .list-items [aria-expanded="false"] .glyph-chevron-down[b-up52ejewsf] {
        display: none;
    }

    .list-items [aria-expanded="true"] .glyph-chevron-right[b-up52ejewsf] {
        display: none;
    }

    .list-items .collapse[b-up52ejewsf],
    .list-items .collapsing[b-up52ejewsf] {
        border-left: 1px solid rgba(0, 0, 0, 0.05);
        border-right: 1px solid rgba(0, 0, 0, 0.05);
    }

.list-quick-links[b-up52ejewsf] {
    padding-left: 0;
    list-style: none;
    margin-bottom: 2em;
}

    .list-quick-links li[b-up52ejewsf] {
        font-size: 24px;
        font-weight: 300;
        font-family: "Segoe UI Semilight", "Segoe UI", "Selawik Semilight", Tahoma, Verdana, Arial, sans-serif;
        letter-spacing: normal;
        margin-bottom: 4px;
    }

    .list-quick-links a[b-up52ejewsf] {
        display: block;
        padding: .5em .25em;
        background: rgba(0, 0, 0, 0.05);
        text-align: center;
    }

@media (min-width: 540px) {
    .list-quick-links a[b-up52ejewsf] {
        display: inline-block;
        padding: 0;
        margin-bottom: 10px;
        background: none;
    }
}


.entity-list-item .item-icon[b-up52ejewsf] {
    top: 0;
    width: 40px;
    height: 40px;
    background: #0b3480;
    z-index: 1000;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(254, 254, 254, 254, 0.32);
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
    color: #fff;
}

    .entity-list-item .item-icon:hover[b-up52ejewsf] {
        background: #fff;
        z-index: 1000;
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
        background-color: rgba(254, 254, 254, 254, 0.32);
        color: #7caf50;
    }

.entity-list-item:hover[b-up52ejewsf] {
    color: #0b3480;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
    z-index: 1000;
}

.entity-list .entity-list-item .item-content-primary .item-content-secondary[b-up52ejewsf] {
    margin: 12px 12px 0 0px;
    font-size: 12px;
    font-weight: 400;
}

.entity-list .entity-list-item .content-text-primary[b-up52ejewsf],
.entity-list .entity-list-item[b-up52ejewsf] {
    font-size: 15px;
    font-weight: 800;
    font-family: "Segoe UI", "Selawik", Tahoma, Verdana, Arial, sans-serif;
    letter-spacing: normal;
    line-height: 1.33333;
}

.content-text-secondary[b-up52ejewsf] {
    font-size: 7px;
    font-weight: 100;
    font-family: "Segoe UI", "Selawik", Tahoma, Verdana, Arial, sans-serif;
    letter-spacing: normal;
    line-height: 1.33333;
    color: white;
}

.content-text-tertiary[b-up52ejewsf] {
    font-size: 10px;
    font-weight: 100;
    font-family: "Segoe UI", "Selawik", Tahoma, Verdana, Arial, sans-serif;
    letter-spacing: normal;
    line-height: 1.33333;
    color: 1A1A1A;
}
/* /Pages/ProductList.razor.rz.scp.css */


.list-items[b-fajghabgcf] {
    padding-left: 0;
    list-style: none;
    margin: 1em 0;
}

    .list-items .row[b-fajghabgcf] {
        padding: 10px;
    }

        .list-items .row .row[b-fajghabgcf] {
            padding: 0;
        }

    .list-items .list-items-row[b-fajghabgcf] {
        margin: 0;
        padding: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
    }

    .list-items [data-toggle="collapse"][b-fajghabgcf] {
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        cursor: pointer;
    }

        .list-items [data-toggle="collapse"][aria-expanded="true"][b-fajghabgcf], .list-items [data-toggle="collapse"]:hover[b-fajghabgcf] {
            z-index: 1000;
            -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
            background-color: rgba(255, 255, 255, 0.32);
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            color: #61b405;
        }

    .list-items .glyph-chevron-right[b-fajghabgcf],
    .list-items .glyph-chevron-down[b-fajghabgcf] {
        font-size: .75em;
        height: 1.25em;
    }

    .list-items [aria-expanded="false"] .glyph-chevron-down[b-fajghabgcf] {
        display: none;
    }

    .list-items [aria-expanded="true"] .glyph-chevron-right[b-fajghabgcf] {
        display: none;
    }

    .list-items .collapse[b-fajghabgcf],
    .list-items .collapsing[b-fajghabgcf] {
        border-left: 1px solid rgba(0, 0, 0, 0.05);
        border-right: 1px solid rgba(0, 0, 0, 0.05);
    }

.list-quick-links[b-fajghabgcf] {
    padding-left: 0;
    list-style: none;
    margin-bottom: 2em;
}

    .list-quick-links li[b-fajghabgcf] {
        font-size: 24px;
        font-weight: 300;
        font-family: "Segoe UI Semilight", "Segoe UI", "Selawik Semilight", Tahoma, Verdana, Arial, sans-serif;
        letter-spacing: normal;
        margin-bottom: 4px;
    }

    .list-quick-links a[b-fajghabgcf] {
        display: block;
        padding: .5em .25em;
        background: rgba(0, 0, 0, 0.05);
        text-align: center;
    }

@media (min-width: 540px) {
    .list-quick-links a[b-fajghabgcf] {
        display: inline-block;
        padding: 0;
        margin-bottom: 10px;
        background: none;
    }
}


.entity-list-item .item-icon[b-fajghabgcf] {
    top: 0;
    width: 40px;
    height: 40px;
    background: #0b3480;
    z-index: 1000;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(254, 254, 254, 254, 0.32);
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
    color: #fff;
}

    .entity-list-item .item-icon:hover[b-fajghabgcf] {
        background: #fff;
        z-index: 1000;
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
        background-color: rgba(254, 254, 254, 254, 0.32);
        color: #7caf50;
    }

.entity-list-item:hover[b-fajghabgcf] {
    color: #0b3480;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
    z-index: 1000;
}

.entity-list .entity-list-item .item-content-primary .item-content-secondary[b-fajghabgcf] {
    margin: 12px 12px 0 0px;
    font-size: 12px;
    font-weight: 400;
}

.entity-list .entity-list-item .content-text-primary[b-fajghabgcf],
.entity-list .entity-list-item[b-fajghabgcf] {
    font-size: 15px;
    font-weight: 800;
    font-family: "Segoe UI", "Selawik", Tahoma, Verdana, Arial, sans-serif;
    letter-spacing: normal;
    line-height: 1.33333;
}

.content-text-secondary[b-fajghabgcf] {
    font-size: 7px;
    font-weight: 100;
    font-family: "Segoe UI", "Selawik", Tahoma, Verdana, Arial, sans-serif;
    letter-spacing: normal;
    line-height: 1.33333;
    color: white;
}

.content-text-tertiary[b-fajghabgcf] {
    font-size: 10px;
    font-weight: 100;
    font-family: "Segoe UI", "Selawik", Tahoma, Verdana, Arial, sans-serif;
    letter-spacing: normal;
    line-height: 1.33333;
    color: 1A1A1A;
}


.add-product[b-fajghabgcf] {
    visibility: hidden;
    width: 48px;
    height: 48px;
    padding: 10px 12px 12px;
    opacity: 0;
    -webkit-transform: translate(0, 24px);
    -ms-transform: translate(0, 24px);
    -o-transform: translate(0, 24px);
    transform: translate(0, 24px);
    -webkit-transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
    -o-transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
    background: rgba(5, 72, 180, 1.0);
    box-shadow: 0 9px 19px rgba(0,0,0,0.30), 0 7px 6px rgba(0,0,0,0.22);
    color: #fff;
}

    .add-product.affix[b-fajghabgcf] {
        visibility: visible;
        opacity: 1;
        z-index: 1030;
        left: 24px;
        top: 120px;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .add-product [class*="glyph-"][b-fajghabgcf] {
        font-size: 24px;
    }

    .add-product[b-fajghabgcf], .add-product:focus[b-fajghabgcf] {
        color: rgba(0, 0, 0, 0.6);
        background: rgba(0, 0, 0, 0.1);
    }

        .add-product:hover[b-fajghabgcf] {
            color: rgba(5, 72, 180, 1.0);
            background: rgba(255, 255, 255, 0.3);
        }

        .add-product.theme-alt[b-fajghabgcf], .add-product.theme-alt:focus[b-fajghabgcf] {
            color: rgba(255, 255, 255, 0.6);
            background: rgba(255, 255, 255, 0.1);
        }

            .add-product.theme-alt:hover[b-fajghabgcf] {
                color: #FFFFFF;
                background: rgba(255, 255, 255, 0.3);
            }

.hidden[b-fajghabgcf] {
    display: none !important;
}


.jeshiBlue[b-fajghabgcf] {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background: rgba(5, 72, 180, 0.66);
    color: #fff;
}
/* /Shared/LoginLayout.razor.rz.scp.css */

/* /Shared/MainLayout.razor.rz.scp.css */
/* /Shared/NavMenu.razor.rz.scp.css */



.nav-item[b-234l2opi20] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-234l2opi20] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-234l2opi20] {
        padding-bottom: 1rem;
    }

    .nav-item[b-234l2opi20]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-234l2opi20]  a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item[b-234l2opi20]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-234l2opi20] {
        display: none;
    }

    .collapse[b-234l2opi20] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Shared/Toast.razor.rz.scp.css */

.toast[b-mid3ka0je8] {
    top: 30px;
    right: 30px;
    max-width: 300px;
    border-radius: 0px;
   
    box-shadow: 0 25px 10px -15px rgba(0,0,0,0.05);
    display: none;
    padding: 1.5rem;
    color: #FFFFFF;
    z-index: 1;
    position: absolute;
}

.toast-icon[b-mid3ka0je8] {
    display: flex;
    color: #FFFFFF;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    font-size: 2.5rem;
}

.brand-info[b-mid3ka0je8] {
    color: #1A1A1A;
    background:#ffffff;
    box-shadow: 0 25px 10px -15px rgba(0,0,0,0.05);
}
.brand-success[b-mid3ka0je8] {
    background: #67c58f;
    box-shadow: 0 25px 10px -15px rgba(0,0,0,0.05);
}
.brand-warning[b-mid3ka0je8] {
    background: #ff6a00;
    box-shadow: 0 25px 10px -15px rgba(0,0,0,0.05);
}
.brand-danger[b-mid3ka0je8] {
    background: #ff0000;
    box-shadow: 0 25px 10px -15px rgba(0,0,0,0.05);
}

.edit[b-mid3ka0je8] {}
.accept[b-mid3ka0je8] {}
.important[b-mid3ka0je8] {}
.report-hacked[b-mid3ka0je8] {}

.toast-body[b-mid3ka0je8] {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 1rem;
}

    .toast-body p[b-mid3ka0je8] {
        margin: 0;
        line-height: 1.3;
    }

.toast-visible[b-mid3ka0je8] {
    display: flex;
    flex-direction: row;
    animation: fadein-b-mid3ka0je8 1.5s;
}

@keyframes fadein-b-mid3ka0je8 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
