@page "/404"

<div class="container">


  <hr />
  <div class="row" id="captions">
    <div class="col-xs-24">
      <div class="row">
        <div class="col-xs-24">
          <h1><span class="glyph glyph-report-hacked"></span> Could not get any response</h1>
          <p>There was an error connecting to the page requested. </p>
      
        </div>
      </div>

      <div class="row m-t-sm">
        <div class="col-md-12">
          <p class="color-type-secondary">This might have happened because:</p>
          <p class="type-c1">The server couldn't send a response</p>
          <p class="type-c1">Your may be on Li-Fi <span class="glyph glyph-one-bar"></span></p>
        </div>

        <div class="col-md-12">
          <div class="row">
            <div class="col-sm-24">
              <pre><code class="language-xml">

</code></pre>
            </div>

            <div class="col-sm-24">
              <pre><code class="language-scss"></code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />

  </div>









@code {

}
