 @using Microsoft.Fast.Components.FluentUI


<div class="jumbotron page-header theme-default">
             <div class="container">
    <div class="row">
      <div class="col-md-12 ">

        <div class="type-p4">
          © 2020 DevEd. All rights reserved.
          Deleted is a registered trademark of Deleted Corporation.
          DevEd Global  is the exclusive licensee of the DevEd brand for products
        </div>

      </div>
      <div class="col-md-12 ">
       
    

        <ul class="nav nav-pills">
          <li role="presentation">
            <a href="#nav-item-1">Cookies</a>
          </li>
          <li role="presentation">
            <a href="#nav-item-2">Privacy</a>
          </li>
          <li role="presentation">
            <a href="#nav-item-3">Site Terms</a>
          </li>
          <li role="presentation">
            <a href="#nav-item-3">Seller Terms</a>
          </li>
        </ul>
      </div>
    </div>
    </div>
        </div>

@code {

}
