 
 


<FluentDesignSystemProvider FillColor="#1A1A1A" >
     <FluentToolbar id="toolbar-fluent-components-main" style="width:100%; " >
       
                   <a style="color:#ffffff;" class="navbar-brand" href="#">Deleted</a>    
              
            

                      </FluentToolbar>
                </FluentDesignSystemProvider >


@code {

}
