@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components

@using BlazorWithIdentity.Client.Pages


    <AuthorizeView>
        <Authorized>
             
 <FluentDesignSystemProvider @ref=fdsp Direction=@dir BaseLayerLuminance=@baseLayerLuminance>
     <div class="mainContainer">
     <FluentDesignSystemProvider FillColor="#4B0082" >
     <FluentToolbar id="toolbar-fluent-components-main" style="width:100%; " >
         <FluentAnchor slot="start" Href="/" Appearance="Appearance.Outline">Home</FluentAnchor>
                       
              <FluentMenuItem slot="end"> Hi, @context.User.Identity.Name
                <FluentMenu> 
                    <FluentMenuItem @onclick="@LogoutClick" > 
                        <span class="glyph glyph-back"></span>Log Out
                    </FluentMenuItem>
               </FluentMenu>
             </FluentMenuItem>
            
                      
                     
                 
    
                      </FluentToolbar>
                </FluentDesignSystemProvider >
                
        <div class="main">
            <div class="navigation ">
                <div class="container">
                     <NavMenu />
                </div>
               
            </div>
          <div class="content ">
           <main>
           <article class="content px-4">
             <FluentSwitch @onchange=SwitchTheme >
               <span style="padding-inline-end: 8px;"> Theme</span>
               <span slot="checked-message">Dark</span>
               <span slot="unchecked-message">Light</span>
              </FluentSwitch>
             @Body
             </article>
       </main>
       
  </div>
</div>
</div>

 </FluentDesignSystemProvider>



           
      
 




        </Authorized>
        <NotAuthorized>
            @*Just render the body so that RedirectToLogin works*@
            @Body
        </NotAuthorized>
    </AuthorizeView>









