@inherits LayoutComponentBase

@using BlazorWithIdentity.Client.Pages
@using Microsoft.Fast.Components.FluentUI

    <AuthorizeView>
        <Authorized>
             
            <FluentDesignSystemProvider fill-color="#333" >
               
               
                  <FluentToolbar   id="toolbar-fluent-components-main" style="width:100%; " >
                        <NavLinkFluentAnchor Href="/" Appearance="Appearance.Outline">Home</NavLinkFluentAnchor>
                          
                          <FluentListbox slot="end">
                          <FluentOption   Value="Value content loses">
                                Hi, @context.User.Identity.Name
                          </FluentOption>
                          
                         <FluentOption @onclick="@LogoutClick" Value="log">
                              <span class="glyph glyph-back" data-toggle="tooltip" title="Log out"   slot="end"></span> 
                             Log Out
                         </FluentOption>
    
                    </FluentListbox>
    
                      </FluentToolbar>
             </FluentDesignSystemProvider>
     
    <div class="page">
 <Toast></Toast>
    <div class="sidebar col-md-4">
        <NavMenu />
    </div>

    <div class="main col-md-20">
       

        <div class="content px-4">
            @Body
        </div>
       
    </div>

</div> 

        </Authorized>
        <NotAuthorized>
            @*Just render the body so that RedirectToLogin works*@
            @Body
        </NotAuthorized>
    </AuthorizeView>



@code {
    async Task LogoutClick()
    {
        await authStateProvider.Logout();
        toastService.ShowToast("Logged out!", ToastLevel.Info);
        navigationManager.NavigateTo("/login");
    }
}