@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components

@using BlazorWithIdentity.Client.Pages


    <AuthorizeView>
        <Authorized>
    
 <FluentDesignSystemProvider @ref=fdsp Direction=@dir BaseLayerLuminance=@baseLayerLuminance>
     <div class="mainContainer">
     
<FluentDesignSystemProvider FillColor="#1A1A1A" >
     <FluentToolbar id="toolbar-fluent-components-main" style="width:100%; " >
       
                   <a style="color:#ffffff;" class="navbar-brand" href="#">Deleted</a>    
                <FluentSwitch slot="end" @onchange=SwitchTheme >
               <span style="padding-inline-end: 8px;"> Theme</span>
               <span slot="checked-message">Dark</span>
               <span slot="unchecked-message">Light</span>
              </FluentSwitch>
            

                      </FluentToolbar>
                </FluentDesignSystemProvider >
                
        <div class="main">
            <Toast></Toast>
            <div class="navigation ">
                <div class="container">
                    <h1 class="section-heading">Hello, @context.User.Identity.Name</h1>




                     <NavMenu />
                </div>
               
            </div>
          <div class="content ">
           <main>
           <article class="content px-4">
           
             @Body
             </article>
       </main>
       
  </div>
</div>
</div>

 </FluentDesignSystemProvider>



           
      
 




        </Authorized>
        <NotAuthorized>
            @*Just render the body so that RedirectToLogin works*@
            @Body
        </NotAuthorized>
    </AuthorizeView>









