@inherits LayoutComponentBase

@using BlazorWithIdentity.Client.Pages
@using Microsoft.Fast.Components.FluentUI

    <AuthorizeView>
        <Authorized>
             
            <FluentDesignSystemProvider fill-color="#333" >
               
               
                  <FluentToolbar   id="toolbar-fluent-components-main" style="width:100%; " >
                        <NavLinkFluentAnchor Href="/" Appearance="Appearance.Outline">Home</NavLinkFluentAnchor>
                          
                          <p class="type-p3" slot="end">Hi, @context.User.Identity.Name</p> 
    
                      </FluentToolbar>
             </FluentDesignSystemProvider>
     
    <div class="page">
 <Toast></Toast>
    <div class="sidebar col-md-3">
        <NavMenu />
    </div>

    <div class="main col-md-21">
       

        <div class="content px-4">
            @Body
        </div>
       
    </div>

</div> 

        </Authorized>
        <NotAuthorized>
            @*Just render the body so that RedirectToLogin works*@
            @Body
        </NotAuthorized>
    </AuthorizeView>



