

@inject NavigationManager navigationmanager


<FluentDesignSystemProvider role="navigation" class="navigation">
   
   <FluentAccordion >
    <FluentAccordionItem>
        <span class="glyph glyph-edit" slot="start">
          
        </span>
       
        <span class="type-c1" slot="heading">Update</span>
        <ul class="list-items">
        <li class="list-items-row">
            <div class="row">
                <div class="col-md-24">  <!-- if you want more than one column at a narrow viewport-->
                   <NavLinkFluentAnchor   Href="/Category" Appearance="Appearance.Stealth">Category</NavLinkFluentAnchor>      <!-- adjust the grid settings appropriately-->
                </div>
                 
               
            </div>
        </li>
      <li class="list-items-row">
            <div class="row">
                <div class="col-md-24">  <!-- if you want more than one column at a narrow viewport-->
                    <NavLinkFluentAnchor Href="/product" Appearance="Appearance.Stealth">Product Name</NavLinkFluentAnchor>
                </div>
                
               
            </div>
        </li>
         <li class="list-items-row">
            <div class="row">
                <div class="col-md-24">  <!-- if you want more than one column at a narrow viewport-->
                    <NavLinkFluentAnchor Href="/option" Appearance="Appearance.Stealth">Option</NavLinkFluentAnchor>
                </div>
                
               
            </div>
        </li> 
         <li class="list-items-row">
            <div class="row">
                <div class="col-md-24">  <!-- if you want more than one column at a narrow viewport-->
                    <NavLinkFluentAnchor Href="/optionvalue" Appearance="Appearance.Stealth">Option Value</NavLinkFluentAnchor>
                </div>
                
               
            </div>
        </li> 
         <li class="list-items-row">
            <div class="row">
                <div class="col-md-24">  <!-- if you want more than one column at a narrow viewport-->
                    <NavLinkFluentAnchor Href="/skuvalue" Appearance="Appearance.Stealth">Sku Value</NavLinkFluentAnchor>
                </div>
                
               
            </div>
        </li> 

         <li class="list-items-row">
            <div class="row">
                <div class="col-md-24">  <!-- if you want more than one column at a narrow viewport-->
                    <NavLinkFluentAnchor Href="/productsku" Appearance="Appearance.Stealth">Price</NavLinkFluentAnchor>
                </div>
                
               
            </div>
        </li> 
    </ul>
    </FluentAccordionItem>
    <FluentAccordionItem >
        <span slot="start" class="glyph glyph-list">List</span>
        <span slot="heading">List</span>
         <ul class="list-items">
        <li class="list-items-row">
            <div class="row">
                <div class="col-md-24">  <!-- if you want more than one column at a narrow viewport-->
                 <FluentAnchor Appearance="Appearance.Stealth" Href="/productlist" >Products List</FluentAnchor>     <!-- adjust the grid settings appropriately-->
                </div>
                 
               
            </div>
        </li>
      <li class="list-items-row">
            <div class="row">
                <div class="col-md-24">  <!-- if you want more than one column at a narrow viewport-->
                    <FluentAnchor Appearance="Appearance.Stealth" Href="/composite" >Composite Products</FluentAnchor>
                </div>
                
               
            </div>
        </li> </ul>
        
       
    </FluentAccordionItem>
 
</FluentAccordion>
  

   

</FluentDesignSystemProvider>


@code {
    

}
