
@using Microsoft.Fast.Components.FluentUI

<div class="@NavMenuCssClass navBack" @onclick="ToggleNavMenu">



<FluentTreeView RenderCollapsedNodes="false">
    <FluentTreeItem class="type-h4">
      Add Product
     
            <FluentTreeItem > <NavLinkFluentAnchor Appearance="Appearance.Hypertext" Href="/category" >Categories</NavLinkFluentAnchor></FluentTreeItem>
            <FluentTreeItem > <NavLinkFluentAnchor Appearance="Appearance.Hypertext" Href="/product" >Product Name</NavLinkFluentAnchor></FluentTreeItem>
            <FluentTreeItem > <NavLinkFluentAnchor Appearance="Appearance.Hypertext" Href="/option" >Option</NavLinkFluentAnchor></FluentTreeItem>
            <FluentTreeItem > <NavLinkFluentAnchor Appearance="Appearance.Hypertext" Href="/optionvalue" >Option Value</NavLinkFluentAnchor></FluentTreeItem>
            <FluentTreeItem > <NavLinkFluentAnchor Href="/skuvalue" Appearance="Appearance.Hypertext">Sku Value</NavLinkFluentAnchor></FluentTreeItem>
            <FluentTreeItem > <NavLinkFluentAnchor Href="/productsku" Appearance="Appearance.Hypertext">Price</NavLinkFluentAnchor></FluentTreeItem>
            
           
        
      
    </FluentTreeItem>
     <FluentTreeItem>
       Product List
     
            <FluentTreeItem > <NavLinkFluentAnchor Appearance="Appearance.Hypertext" Href="/composite" >Composite Products</NavLinkFluentAnchor></FluentTreeItem>
            <FluentTreeItem > <NavLinkFluentAnchor Appearance="Appearance.Hypertext" Href="/productlist" >Products</NavLinkFluentAnchor></FluentTreeItem>

            
           
        
      
    </FluentTreeItem>
   
 
</FluentTreeView>


</div>
                      
                     
            


                 
                

               
           









@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    
}
