@inject NavigationManager navigationManager
<fluent-progress-ring></fluent-progress-ring> <p>Redirecting...</p>
@code{

    protected override void OnInitialized()
    {
        navigationManager.NavigateTo("/login");
    }
}
