@inherits ToastBase
 
<div class="toast @BackgroundCssClass @(IsVisible ? "toast-visible" : null) ">

    <div class="toast-icon" >
        <span class="glyph glyph-@IconCssClass" ></span>
    </div>
  
      <div class="type-sh2">@Message</div>
</div>






