
.toast {
    top: 30px;
    right: 30px;
    max-width: 300px;
    border-radius: 0px;
   
    box-shadow: 0 25px 10px -15px rgba(0,0,0,0.05);
    display: none;
    padding: 1.5rem;
    color: #FFFFFF;
    z-index: 1;
    position: absolute;
}

.toast-icon {
    display: flex;
    color: #FFFFFF;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    font-size: 2.5rem;
}

.brand-info {
    color: #1A1A1A;
    background:#ffffff;
    box-shadow: 0 25px 10px -15px rgba(0,0,0,0.05);
}
.brand-success {
    background: #67c58f;
    box-shadow: 0 25px 10px -15px rgba(0,0,0,0.05);
}
.brand-warning {
    background: #ff6a00;
    box-shadow: 0 25px 10px -15px rgba(0,0,0,0.05);
}
.brand-danger {
    background: #ff0000;
    box-shadow: 0 25px 10px -15px rgba(0,0,0,0.05);
}

.edit {}
.accept {}
.important {}
.report-hacked {}

.toast-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 1rem;
}

    .toast-body p {
        margin: 0;
        line-height: 1.3;
    }

.toast-visible {
    display: flex;
    flex-direction: row;
    animation: fadein 1.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
