@inherits ToastBase
 
<div class="toast @BackgroundCssClass @(IsVisible ? "toast-visible" : null) ">

         <p class="type-c1">@Heading</p>
        <hr />
        <p class="type-p4">@Message</p>

               
  
</div>






