@page "/"
@attribute [Authorize]

@using Microsoft.Fast.Components.FluentUI
@inject ToastService toastService


<AuthorizeView>
    <Authorized>
<div class="container">
  <div class="row">
   

    <CompositeProductList></CompositeProductList>



  </div>
</div>

       
    </Authorized>
    <Authorizing>
        <h1>Loading ...</h1>
    </Authorizing>
</AuthorizeView>