@page "/login"
@layout LoginLayout
@inject NavigationManager navigationManager
@inject IdentityAuthenticationStateProvider authStateProvider
@using Microsoft.Fast.Components.FluentUI



<div class="container ">
  <div class="row">
    <div class="col-md-8 offset-md-2">
                        <h4 class="mb-3">Login</h4>
      
      
 
      <EditForm class="form-signin" OnValidSubmit="OnSubmit" Model="loginParameters">
         
 <FluentCard style="height:100%">

<FluentTextField id="inputUsername"  @bind-Value="loginParameters.UserName"  placeholder="Username"  ></FluentTextField>
 <ValidationMessage class="text-danger" For="@(() => loginParameters.UserName)" />
 <br />
<FluentTextField id="inputPassword" placeholder="Password"   TextFieldType="TextFieldType.Password" @bind-Value="loginParameters.Password"></FluentTextField>
<ValidationMessage class="text-danger" For="@(() => loginParameters.Password)" />
    <br />
   <FluentButton type="submit" Appearance="Appearance.Accent">Sign in</FluentButton>
     <label class="text-danger">@error</label>
</FluentCard>
 <FluentCard style="height:50%">
   <h6 >New to Chama!<NavLink Appearance="Appearance.Outline" href="register">Create account </NavLink></h6>
    </FluentCard>

    


 
</EditForm>
   
    </div>
  </div>
</div>
  
     
   
    
  


   


  



@code{
    LoginParameters loginParameters { get; set; } = new LoginParameters();
    string error { get; set; }

    async Task OnSubmit()
    {
        error = null;
        try
        {
            await authStateProvider.Login(loginParameters);
             toastService.ShowToast($"Welcome ", ToastLevel.Success);
            navigationManager.NavigateTo("");
            
        }
        catch (Exception ex)
        {
            error = ex.Message;
            toastService.ShowToast($"Login Unsuccesful", ToastLevel.Error);
        }
    }
}