
.toast[b-mid3ka0je8] {
    top: 30px;
    right: 30px;
    max-width: 300px;
    border-radius: 0px;
    background: #FFFFFF;
    box-shadow: 0 25px 10px -15px rgba(0,0,0,0.05);
    display: none;
    padding: 1.5rem;
    color: #1A1A1A;
    z-index: 1;
    position: absolute;
}

.toast-icon[b-mid3ka0je8] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    font-size: 2.5rem;
}

.toast-body[b-mid3ka0je8] {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 1rem;
}

    .toast-body p[b-mid3ka0je8] {
        margin-bottom: 0;
    }

.toast-visible[b-mid3ka0je8] {
    display: flex;
    flex-direction: row;
    animation: fadein-b-mid3ka0je8 1.5s;
}

@keyframes fadein-b-mid3ka0je8 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
