
.toast[b-mid3ka0je8] {
    top: 30px;
    right: 30px;
    max-width: 300px;
    border-radius: 0px;
   
    box-shadow: 0 25px 10px -15px rgba(0,0,0,0.05);
    display: none;
    padding: 1.5rem;
    color: #FFFFFF;
    z-index: 1;
    position: absolute;
}

.toast-icon[b-mid3ka0je8] {
    display: flex;
    color: #FFFFFF;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    font-size: 2.5rem;
}

.brand-info[b-mid3ka0je8] {
    color: #1A1A1A;
    background:#ffffff;
    box-shadow: 0 25px 10px -15px rgba(0,0,0,0.05);
}
.brand-success[b-mid3ka0je8] {
    background: #67c58f;
    box-shadow: 0 25px 10px -15px rgba(0,0,0,0.05);
}
.brand-warning[b-mid3ka0je8] {
    background: #ff6a00;
    box-shadow: 0 25px 10px -15px rgba(0,0,0,0.05);
}
.brand-danger[b-mid3ka0je8] {
    background: #ff0000;
    box-shadow: 0 25px 10px -15px rgba(0,0,0,0.05);
}

.edit[b-mid3ka0je8] {}
.accept[b-mid3ka0je8] {}
.important[b-mid3ka0je8] {}
.report-hacked[b-mid3ka0je8] {}

.toast-body[b-mid3ka0je8] {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 1rem;
}

    .toast-body p[b-mid3ka0je8] {
        margin: 0;
        line-height: 1.3;
    }

.toast-visible[b-mid3ka0je8] {
    display: flex;
    flex-direction: row;
    animation: fadein-b-mid3ka0je8 1.5s;
}

@keyframes fadein-b-mid3ka0je8 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
